iframe{
    height: 300px;
    border: 0;
}

form{
    display: grid;
    grid-template-columns: 1;
    width: 100%;
    background-color: rgb(80, 125, 156);
    padding: 10px 0 10px 0;
}

label{
    justify-self: center;
    display: grid;
    grid-template-columns: 1;
    width: 80%;
} 

.one-line{
    display: flex;
    justify-self:center;
}

form button{
    width: 80%;
    display: flex;
    justify-self:center;
    background-color: rgb(53, 53, 242);
    padding: 10px;
    border: 0;
    color: white;
    box-sizing: content-box;
}

form button:hover{
    background-color: rgb(36, 36, 236);
}

form button:hover,select:hover{
    cursor: pointer;
}