.trips{
    display: flex;
    grid-template-rows: 2;
    width: 100%;
    margin-top: 20px ;
}

.trips h3{
    width: fit-content;
}

.trips img{
    width: 30%;
}


td, th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}


.trips a{
    display: block;
    background-color:  var(--accent1-color);
    color: white;
    text-decoration: none;
    padding: 40px, 0 40px, 0;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.trips a:hover{
    background-color: var(--secondary-color);
}