*{
    margin: 0;
}
nav{
    background-color: steelblue;
    padding: 10px;
}
nav a{
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}
nav a:hover{
    color: black;
    background-color: blue;
}
main{
    max-width: 74%;
    float: left;
    margin: 0;
    padding: 0.5% ;
    background-color: rgb(105, 194, 105);
}   

main h1{
    color: blue;
    margin-bottom: 15px;
}

main img{
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p{
    padding: 0  ;
}

aside{
    width: 23%;
    margin: 0;
    padding: 1%;
    background-color: khaki;
    float: right;
}

aside img{
    width: 200px;
    height: auto;
    margin-left: 20px;

}

footer{
    width: 100%;
    float: left;
    border-top: 1px solid black;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

